.vscode/
.DS_Store
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/OTA_Tool/img/
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/*.img
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/*.bin
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/output/
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/input/WEI_FW_gnu_arcem9d_wei_r16.elf
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/input/WEI_FW_gnu_arcem9d_wei_r16.map
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/input/sign_formal_Loader_config.bin
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/odm_key/cert1_rsa.bin
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/odm_key/odm_rsa_key.der
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/odm_key/odm_wrapkey.key
Synopsys_PA8535_EM9D_DFSS_SDK_3.3/tools/image_gen_cstm/odm_key/we1_root_rsa_key.der.pub

obj_socket_24/
*.uf2
copy-sdk.sh
